<style>
button {
    background-color: #7bc2fd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #28d056;
    text-decoration: none;
    font-weight:bold;
    color: white;
}
</style>

<html>
<head>
   <meta charset="utf-8">
      <title>About</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/default.css" rel="stylesheet">

      <body>
      <!-- this is a comment in HTML -->
      <div class="col-md-6 center-block text-center">
         <h1>Disease.io - About</h2>
          <div>
<strong>What is disease.io?</strong>
<p align="left"> 
    Disease.io is a citizen science game where users collect resources. Users decide whether they want to scavenge for resources in a safe city, where there is less of a chance of catching a disease, or a risk city, where users have more of a chance of catching a disease. 
</p>

<strong>What is citizen science?</strong>
<p align="left"> 
Citizen science involves the collection of data and analysis by citizens in order to collaborate with professional scientists. 
</p>

<strong>What is the inspiration for disease.io?</strong>
<p align="left"> 
Our application was inspired by a simulated disease outbreak in the MMORPG World of Warcraft, also known as the Corrupted Blood Incident. Players of WOW experienced a glitch that strongly mirrored the outbreak of a dangerous contagious disease, and acted in ways that mirrored natural human responses to such situations. Because the outbreak occurred in a controlled environment, scientists were interested in using data from the game to draw conclusions about human behavior, but because of the accidental nature of the outbreak, were unable to draw too many specific conclusions. With respect to the game, we’ve endeavored to add features to the game which simulate the actions and patterns of disease, and give humans a chance to make decisions as they would in a normal outbreak. In selecting and displaying data, we’ve made sure to collect data which is directly relevant to scientists and displaying it in a scientist friendly way.
              </p>
              <a href="/index" class="button" id="home-button">Home</a>
          </div>
      </div>
       </body>
</html>
