
<style> 
p {
   text-indent: 20px;
}
ul {
   text-align: left; 
}
</style>

<html>
<head>
   <meta charset="utf-8">
      <title>Citizen</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/default.css" rel="stylesheet">


      <body>
      <!-- this is a comment in HTML -->
      <div class="col-md-6 center-block text-center">
         <h1>Disease.io - How To Play</h1> 
          <div>
<strong>Science Mode</strong>
<br>
              <p align="left">In Science Mode, the user looks at data collected by 
                              players of Disease.io. In order to navigate to Science Mode, 
                              click on the "Scientist" role option displayed on the front page.
                              Various data we have collected are listed on the left 
                              side of the page and displayed as graphs.
                              Download options are listed underneath each graph.
              <p>
<strong>Citizen Mode</strong>
<br>
              <p align="left">In Citizen Mode, the user plays the Disease.io game and in the 
              process creates data for science! To navigate to Citizen Mode, click "Citizen"
              under role selection on the main page. Once you have clicked this, you will be 
              taken to the main "map". On this map you will see two "Nodes", one is green, 
              and the other is red. The green node represents a Safe city where you can collect 
              resources, while the red node represents a Risky city.
<ul>
      <li>    After clicking on a node and selecting your choice (or leaving on the default 
              choice of "Safe") click on the "Enter Your Chosen City" button in order to begin 
              playing the game. 
      </li>
      <br>
      <li>    In the game, there are several elements to be aware of, while in the future these 
              elements may be modified, for now we have a "Player", Joystick", "Team Button", and 
              "Resources". 
      </li>
      <br>
      <li>    The Joystick is the bottom-left element represented by a white sphere on top of a grey 
              sphere. By moving the white sphere away from the grey sphere you "move" the joystick. 
      </li>
      <br>
      <li>     The Player is represented by the red sphere, the dotted line surrounding it is the
               "team" area in which if it is green you will gain points by having neighbors. 
      </li>
      <br>
      <li>     The Team Button is the lower right grey button, if you click it you toggle 
               "team mode" (Green is team mode, red is not team mode). In the future, while in team 
               mode you will gain points when another player gathers resources in your "zone". 
      </li>
      <br>

      <li>     Resources are the white balls throughout the map, moving the red player over them 
               causes them to pick them up and gain points. You can also click on the map to move
               the player to the clicked location. Additional information on how to play will be 
               given to you in a video that pops up whenever you start the game that teaches you 
               how the mechanics of the game works 
      </li>
</ul> 
               <p>
              <a href="/index" class="button" id="home-button">Home</a>
          </div>
      </div>
       </body>
</html>
